{% extends 'user/layout/base_user.html' %}
{% block content %}
    {% if check %}
        <div class="row" style="background-color: #F7F7F7; padding-top: 10px;">
            <div class="user-follow">
                <div class="col-lg-2">
                    <img src="{{ UserName.user_profile.avata.url }}" class="thumbnail" width="100px" alt="Avata">
                </div>
                <div class="col-lg-10">
                    <div class="name-user text-success"><strong style="font-size: 18px;">{{ UserName.first_name }} {{ UserName.last_name }}</strong></div>

                    <div class="number-favorite">
                        <span class="text-danger">{{ count_favorite }}</span> <span class="text-info">favorite book</span> -
                        <span class="text-danger">{{ count_reading_book }}</span> <span class="text-info">reading book</span>
                    </div>
                    {% if user_profile %}
                        <a href="{% url 'user:user_edit_profile' user.username %}" class="btn btn-default "><span class="text-bold text-muted">Update Profile</span></a>
                    {% else %}
                        <div class="dropdown">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <strong class="text-bold text-muted ">Following&nbsp;&nbsp;<span class="caret"></span></strong>
                            </button>
                            <ul class="dropdown-menu" style="min-width: 100px">
                                <li>
                                    <form action="{% url 'user:user_un_follow' %}" method="post" id="form-un-follow">
                                        {% csrf_token %}
                                        <input type="hidden" value="user_home_page" name="location">
                                        <input type="hidden" value="{{ UserName.id }}" name="user_id">
                                    </form>
                                    <a href="#" onclick="document.forms['form-un-follow'].submit();return false;">Unfollow !</a>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row" style="background-color: #F7F7F7;padding: 5px 0 10px 20px">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#book" data-toggle="tab">Book</a></li>
                <li><a href="#following" data-toggle="tab">Following</a></li>
                <li><a href="#followers" data-toggle="tab">Followers</a></li>
                <li><a href="#write-review" data-toggle="tab">Write review</a></li>
                {#                <li><a href="#write-comment" data-toggle="tab">Write comment</a></li>#}
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="book">
                    {% include 'user/follow/activity/book.html' %}
                </div>
                <div class="tab-pane fade" id="following">
                    {% include 'user/follow/activity/following.html' %}

                </div>
                <div class="tab-pane fade" id="followers">
                    {% include 'user/follow/activity/followers.html' %}
                </div>
                <div class="tab-pane fade" id="write-review">
                    {% include 'user/follow/activity/write-review.html' %}
                </div>
                {#                <div class="tab-pane fade" id="write-comment">#}
                {#                    {% include 'user/follow/activity/write-comment.html' %}#}
                {#                </div>#}
            </div>
        </div>
    {% else %}
        <div class="row" style="background-color: #F7F7F7; padding-top: 15px;">
            <div class="user-follow">
                <div class="col-lg-2">
                    <img src="{{ UserName.user_profile.avata.url }}" class="thumbnail" width="100px" alt="Avata">
                </div>
                <div class="col-lg-10">
                    <div class="name-user text-success"><strong style="font-size: 18px;">{{ UserName.first_name }} {{ UserName.last_name }}</strong></div>

                    <div class="number-favorite">
                        <span class="text-danger">{{ count_favorite }}</span> <span class="text-info">favorite book</span> -
                        <span class="text-danger">{{ count_reading_book }}</span> <span class="text-info">reading book</span>
                    </div>
                    <div class="button-follow">
                        <form action="{% url 'user:user_follow' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" value="{{ UserName.id }}" name="followers_user_id">
                            <button type="submit" class="btn btn-default"><span class="text-bold text-muted "> + Follow</span></button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="background-color: #F7F7F7;padding: 5px 0 10px 20px">
            <ul class="nav nav-tabs">
                <li class="disabled"><a href="#book" data-toggle="tab">Book</a></li>
                <li class="disabled"><a href="#follow" data-toggle="tab">Follow</a></li>
                <li class="disabled"><a href="#write-review" data-toggle="tab">Write review</a></li>
                <li class="disabled"><a href="#write-comment" data-toggle="tab">Write comment</a></li>
            </ul>
        </div>
    {% endif %}

{% endblock %}