{% extends 'admin/layout/base_admin.html' %}
{% block title %}
    Book Index
{% endblock %}
{% block content_header %}
    <div class="row">
        <div class="col-lg-9 col-lg-offset-3">
            <span class="text-blue">Book request index</span>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="row" style="background-color: #F7F7F7;  margin: 0 0 0 0;">
        <div class="col-lg-12">
            <div>
                Total : {{ total_send_book }}
            </div>
            <div>
                Successful : {{ successful_book }}
            </div>
            <div>
                Waiting : {{ waiting_book }}
            </div>
            <div>
                Fail : {{ fail_book }}
            </div>
        </div>
    </div>
    <div class="row" style="padding: 0 10px 0 10px">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th class="col-lg-1">Stt</th>
                <th class="col-lg-4">Title</th>
                <th class="col-lg-2">Author</th>
                <th class="col-lg-2">Publish</th>
                <th class="col-lg-1">Page</th>
                <th class="col-lg-1">Status</th>
                <th class="col-lg-1"><a href="{% url 'admin:admin_book_create' %}" role="button"
                                        class="btn btn-danger btn-sm">Create New</a></th>
            </tr>
            </thead>
            <tbody>
            {% for obj in list_request_book %}
                <tr>
                    <td class="col-lg-1"><span class=" text-info">{{ forloop.counter }}</span>
                    </td>
                    <td class="col-lg-4"><a class=" text-info" href="">{{ obj.name| truncatewords:10 }}</a>
                    </td>
                    <td class="col-lg-2"><span class=" text-info">{{ obj.author }}</span>
                    </td>
                    <td class="col-lg-2"><span class=" text-info">{{ obj.publish }}</span>
                    </td>
                    <td class="col-lg-1"><span class=" text-info">{{ obj.page }}</span>
                    </td>
                    <td class="col-lg-1"><span class=" text-info">{{ obj.status }}</span>
                    </td>
                    <td class="col-lg-1">
                        <a href="" class="btn btn-success btn-xs no-margin" role="button">Detail</a>

                        <form action="{% url 'admin:admin_delete_request_book' %}" method="post" style="float: right; margin: 0 13px 0 0">
                            {% csrf_token %}
                            <input type="hidden" name="request_book_id" value="{{ obj.id }}">
                            <button type="submit" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure you want remover user ?')"> Delete</button>
                        </form>
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
                <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                    <span class="current">
                    Page {{ page_obj.number }} of {{ paginator.num_pages }}.
                </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                    {% endif %}
                </span>
        </div>
    </div>
{% endblock %}
