<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'user/style_user.css' %}"/>
    {#    <link href="{% static 'style.css' %}" rel=" stylesheet" type="text/css"/>#}
    {#    <!--<script rel="stylesheet"  href="{% static 'bootstrap/js/bootstrap.min.js' %}"/></script>-->#}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    {#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>#}
    {#    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>#}
    <script src="{% static 'jquery.js' %}"></script>

    <!-- jQuery 2.1.4 -->
    <script src="{% static 'admin/plugins/jQuery/jQuery-2.1.4.min.js' %}"></script>

    <script src="{% static 'user/user.js' %}"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src=" {% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static 'admin/dist/js/app.min.js' %}"></script>
    <!-- Theme style -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} Trang index {% endblock %}</title>
</head>
<body>
<div class="container-fluid ">
    <div class="row">
        <header>
            {% include 'user/layout/header_user.html' %}
        </header>

        <div class="col-lg-12 brs-content">
            <section>
                <div class="col-lg-9">
                    {% block content %}

                    {% endblock %}
                </div>

                <div class="col-lg-3">
                    {% include 'user/layout/base_user_right.html' %}
                </div>
            </section>
            <footer>
                {% include  'user/layout/footer_user.html' %}
            </footer>
        </div>
    </div>
    {% block js %}


    {% endblock %}
</div>
</body>
</html>