{% extends 'user/layout/base_user.html' %}
{% load comment %}
{#{% load book %}#}
{% block content %}
    <div class="row" style="padding-top: 5px;background-color: #FFFFFF;">
        <div class=" thumbnail" style="border: 0 solid">
            <div class="row" style="padding: 0;">
                {#                <div class="col-lg-12">#}
                <!--============================================= Display cover book===========================================================-->
                <div class="col-lg-4 ">
                    <img src="{{ object.cover.url }}" class="" alt="{{ object.title }}" width="100%"/>

                    <!--============================================= Display rating book===========================================================-->
                    <div class="col-lg-12">
                        <strong><span class="text-success" style="float: left; margin: 4px 0 0 0; font-size: 15px;">Rating : </span></strong>
                        <!--============================== Start display star =====================================================================-->
                        <div id="display_star">
                            {% for i in  object.rate_book %}
                                <a href="#" class="btn-lg" style="padding: 0;"
                                   onclick="set_rating({{ object.id }},{{ forloop.counter }}); return false;">
                                    {% if i %}
                                        <span class="glyphicon glyphicon-star" style="color: red">
                                    {% else %}
                                        <span class="glyphicon glyphicon-star-empty">
                                    {% endif %}
                                    </span>
                                </a>
                            {% endfor %}
                        </div>
                        <!--============================== End start display star =====================================================================-->

                    </div>
                    <!--============================================= End display rating book===========================================================-->


                    <!--============================================= Display favorite book===========================================================-->
                    <div id="favorite">
                        {% if user.is_authenticated %}
                            {% if favorite %}
                                <button class="btn btn-success "
                                        style="width: 190px; height: 30px;margin: 0 0 0 12px; font-size: 14px;">
                                    Favorited
                                </button>
                            {% else %}
                                <button type="submit" class="btn btn-warning "
                                        style="width: 190px; height: 30px;margin: 0 0 0 12px; font-size: 14px;"
                                        onclick="favorite_book({{ object.id }})">
                                    Favorite
                                </button>
                            {% endif %}
                        {% else %}
                            <button class="btn btn-warning disabled"
                                    style="width: 190px; height: 30px;margin: 0 0 0 12px; font-size: 14px;">Favorite
                            </button>
                        {% endif %}
                    </div>
                    <!--============================================= End display favorite book===========================================================-->
                </div>
                <!--============================================= End display cover book===========================================================-->

                <!--============================================= Display information book===========================================================-->
                <div class="col-lg-8">
                    <div>
                        <h3><span class="text-success text-bold"> {{ object.title }}</span></h3>
                    </div>
                    <div class="row">
                        <div class="col-lg-7">
                            <div>
                                <h4> Category : <a href="#"> {{ object.category }}</a></h4>
                            </div>
                            <div>
                                <h5>Author : <span class="text-danger">{{ object.author }}</span></h5>
                                <h5>Publish date : {{ object.date|date:'d-m-Y' }} by <span
                                        class=" text-danger">{{ object.publish }}</span></h5>
                            </div>
                            <div>
                                <span class="text-success" id="number_point">{{ object.point_rating }}</span>
                                <span class="text-danger">point</span> -
                                <span class="text-success" id="number_rating">{{ object.rating }}</span>
                                <span class="text-danger">rating</span> -
                                <span class="text-success">{{ object.review }}</span>
                                <span class="text-danger">review </span> ------
                                <span class="text-danger">Page : </span>
                                <span class="text-success">{{ object.page }}</span>&nbsp;&nbsp;
                                <span class="text-danger">Price : </span>
                                <span class="text-success">{{ object.price }} $</span>
                            </div>
                        </div>
                        <div class="col-lg-5" id="button_read_book">
                            {% if object.read_book == 0 %}
                                <button type="button" class="btn btn-success " style="width:160px"
                                        onclick="read_book_start({{ object.id }}); return false;"><strong>Want to Read
                                    book !</strong>
                                </button>
                            {% elif object.read_book == 1 %}
                                <div class="dropdown">
                                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                                            style="width:160px"><strong>Reading book !</strong>&nbsp;&nbsp;&nbsp;<span
                                            class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="#" onclick="read_book_finish({{ object.id }}); return false;">Finish
                                                !</a>
                                        </li>
                                    </ul>
                                </div>
                            {% elif object.read_book == 2 %}
                                <div class="dropdown">
                                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                                            style="width:160px"><strong>Read book !</strong>&nbsp;&nbsp;&nbsp;<span
                                            class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Want to Read book !</a></li>
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div>
                        <h3>Descriptions</h3>
                        <h4> {{ object.description }} </h4>
                    </div>
                </div>
                <!--============================================= End display information book===========================================================-->
            </div>
            <div class="row" style="padding: 0;margin: 0">
                <div class="thumbnail" style="margin: 5px 0 0 0; ">

                    {% if object.review == 0 %}
                        {% if object.rate_book > 0 %}
                            <h4>This book is not review. You are write first review</h4>
                        {% else %}
                            <h4>Rating book mới có thể review</h4>
                        {% endif %}

                    {% else %}
                        <h3>{{ object.review }} Review</h3>

                        {% for obj in review_all_book %}
                            <div class="row" id="review_{{ obj.id }}">
                                <!--============================================= Display cover user write review ===========================================================-->
                                <div class="col-lg-2" id="review-{{ obj.id }}" style="width: 10%; margin: 5px 0 0 0">
                                    <div class="thumbnail">
                                        <img src="{{ obj.user_profile.avatar.url|default_if_none:'None' }}"
                                             alt="chua cos anh  id = {{ obj.user_profile.user.id }}">
                                    </div>
                                </div>
                                <!--============================================= End display cover write review ===========================================================-->

                                <div class="col-lg-10" style="width: 90%; padding: 5px;">
                                    <!--=========================================== Display information review =======================================================-->
                                    <div style="width: 100%">
                                        <div style="width: 93%; float: left; padding:0;">
                                            <!--=========================================== Display information of user - content of review ===================================-->
                                            <div>
                                                <span style="font-size: 14px;">
                                                    <strong class="text-success"
                                                            style="float: left"> {{ obj.user_profile.user.first_name }} {{ obj.user_profile.user.last_name }}
                                                        : </strong>
                                                    <span id="id-review-{{ obj.id }}-content">{{ obj.content }}</span>
                                                    <span id="id-review-{{ obj.id }}-form" style="display:none;">
                                                        <form action="{% url 'review:review_update' %}" method="post"
                                                              id="update-review-{{ obj.id }}">
                                                            {% csrf_token %}
                                                            <input type="hidden" value="{{ obj.id }}" name="review_id">
                                                            <input type="hidden" value="{{ object.id }}" name="book_id">
                                                            <textarea name="review_content"
                                                                      class="col-lg-9">{{ obj.content }}</textarea>
                                                        </form>
                                                        <form action="{% url 'review:review_delete' %}" method="post"
                                                              id="delete-review-{{ obj.id }}">
                                                            {% csrf_token %}
                                                            <input type="hidden" value="{{ obj.id }}" name="review_id">
                                                            <input type="hidden" value="{{ object.id }}" name="book_id">
                                                        </form>
                                                    </span>
                                                </span>
                                            </div>
                                            <!--=========================================== End display information review ==========================================================-->

                                            <!--=========================================== Display like - unlike - review =======================================================-->
                                            <div id="like_unlike">
                                                <div class="pull-left">
                                                    <span id="like_unlike_link">
                                                    {% if user.id in obj.id_like %}
                                                        <button type="button" class="btn btn-link"
                                                                style="padding: 2px 0 5px 0;"
                                                                onclick="unlike_review({{ obj.id }},{{ user.id }})">
                                                            Unlike
                                                        </button>
                                                    {% else %}
                                                        <button type="button" class="btn btn-link"
                                                                style="padding: 2px 0 5px 0;"
                                                                onclick="like_review({{ obj.id }},{{ user.id }})"> Like
                                                        </button>
                                                    {% endif %}
                                                    </span>
                                                    - <a href="#id_{{ obj.id }}">comment</a>
                                                    - {{ obj.date|date:'d-m-Y' }}<br>
                                                    <span id="number_like_review_{{ obj.id }}">{{ obj.number_like_review }}</span>
                                                    like this<br>
                                                </div>
                                            </div>
                                            <!--=========================================== End display like - unlike - review ========================================================-->
                                        </div>

                                        <!--============================================= Display button edit review ===========================================================-->
                                        <div style="width: 7%; float: left; padding: 0">
                                            {% if user.id == obj.user_profile.user.id %}
                                                <div class="dropdown">
                                                    <button type="button" id="id-btn-{{ obj.id }}-dropdown"
                                                            class="btn btn-danger btn-xs dropdown-toggle btn-edit-review-dropdown"
                                                            data-toggle="dropdown"
                                                            style="display: block">
                                                        Edit&nbsp;<span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" style="min-width: 42px;padding: 0">
                                                        <li>
                                                            <button id="id-btn-{{ obj.id }}-edit"
                                                                    class="btn btn-xs btn-info btn-edit-review"
                                                                    onclick="display_none_content('id-review-{{ obj.id }}-'); display_none_btn('id-btn-{{ obj.id }}-')"
                                                                    style="display: block; width: 42px;margin: 0 0 3px 0">
                                                                Edit
                                                            </button>

                                                            <button id="id-btn-{{ obj.id }}-delete"
                                                                    class="btn btn-xs btn-danger btn-edit-review"
                                                                    onclick="confirm_delete_review('delete-review-{{ obj.id }}')"
                                                                    style="display: block; width: 42px;">Delete
                                                            </button>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <button class="btn btn-xs btn-success" id="id-btn-{{ obj.id }}-submit"
                                                        onclick="document.forms['update-review-{{ obj.id }}'].submit();return false;"
                                                        style="display: none; margin: 0 0 5px 0">
                                                    Update
                                                </button>
                                                <button class="btn btn-xs btn-danger" id="id-btn-{{ obj.id }}-cancel"
                                                        style="display: none"
                                                        onclick="display_block_content('id-review-{{ obj.id }}-'); display_block_btn('id-btn-{{ obj.id }}-')">
                                                    Cancel
                                                </button>
                                            {% endif %}
                                        </div>
                                        <!--============================================= End display button edit review ===========================================================-->

                                    </div>
                                    <!--=========================================== End display information review ==========================================================-->

                                    <!------------------------ Display comment of review and write new comment --------------------------------------->

                                    <div class=" col-lg-11" style="padding: 0; margin: 3px 0 3px 0; width: 90%">
                                        {% return_number_total_comment obj.id as number_comment %}
                                        {% if number_comment > 5 %}
                                            <div class="row" id="view_more_comment_{{ obj.id }}"
                                                 style="height: 30px;margin-left: -5px;margin-top:5px; width: 95%">
                                                <button class="btn btn-link"
                                                        onclick="load_more_comment({{ obj.id }}, 5, 10, {{ number_comment }})">
                                                    View more comment.....
                                                </button>
                                                <span class="pull-right">.... 5 of {{ number_comment }}</span>
                                            </div>
                                        {% endif %}
                                        <div id="display_comment_review_{{ obj.id }}">

                                            {% return_comment_of_review obj.id 5 as comments %}
                                            {% for i in comments %}
                                                <div class="row" id="comment_review_number_{{ i.id }}">
                                                    <div class="col-lg-1" style="width: 10%;padding: 5px;">
                                                        <div class="thumbnail">
                                                            <img src="{{ i.user_profile.avatar.url|default_if_none:'None' }}"
                                                                 id="" alt="id ={{ i.user_profile.user.id }}"
                                                                 width="100%" height="100%">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-11" style="width: 90%;padding: 5px;">
                                                        <div style="width: 10%;float: right">
                                                            {% if user.id == i.user_profile.user.id %}
                                                                <button id="id-btn-{{ obj.id }}-delete"
                                                                        type="button"
                                                                        class="btn btn-xs btn-danger btn-delete-comment"
                                                                        onclick="delete_comment({{ i.id }})">
                                                                    Delete
                                                                </button>
                                                            {% endif %}
                                                        </div>
                                                        <div style="width: 90%;">
                                                                    <span style="font-size: 14px;">
                                                                        <strong class="text-success">{{ i.user_profile.user.first_name }} {{ i.user_profile.user.last_name }}: </strong>
                                                                        {{ i.content }}
                                                                    </span>
                                                        </div>
                                                        {% return_user_like_of_comment i.pk as all_like_cmt %}
                                                                <span id="like_unlike_comment_link_{{ i.pk }}">
                                                                {% if user.id in all_like_cmt %}
                                                                    <button type="button" class="btn btn-link"
                                                                            style="padding: 2px 0 5px 0; "
                                                                            onclick="unlike_comment({{ i.pk }})"> Unlike
                                                                    </button>
                                                                {% else %}
                                                                    <button type="button" class="btn btn-link"
                                                                            style="padding: 2px 0 5px 0;"
                                                                            onclick="like_comment({{ i.pk }})"> Like
                                                                    </button>
                                                                {% endif %}
                                                                </span>
                                                        - {{ i.date|date:'d-m-Y' }}<br>
                                                        <span id="number_like_comment_{{ i.pk }}"> {{ i.get_total_like }}</span>
                                                        like this<br>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        {#                                        {% endwith %}#}
                                        {% if user.is_authenticated %}
                                            <div class="row">
                                                <div class="col-lg-1" style="width: 10%;padding: 5px;">
                                                    <div class="thumbnail">
                                                        <img src="{{ user.user_profile.avatar.url|default_if_none:'None' }}"
                                                             alt="id ={{ user.id }}" width="100%" height="100%">
                                                    </div>
                                                </div>
                                                <div class="col-lg-11" style="width: 90%;padding: 5px;">
                                                    <form action="{% url 'comment:comment_create' %}" method="post"
                                                          id="create_comment_review_{{ obj.id }}"
                                                          onsubmit="create_comment_review({{ obj.id }}); return false;">
                                                        {% csrf_token %}
                                                        <input type="hidden" value="{{ obj.id }}" name="review_id"
                                                               id="review_id_{{ obj.id }}">
                                                        <input type="hidden" value="{{ object.id }}" name="book_id">
                                                        <input type="text" class="form-control" name="content_comment"
                                                               id="content_comment_{{ obj.id }}"
                                                               placeholder="Write comment">
                                                    </form>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <!---------------------- End display comment of review and write new comment --------------------------------------->

                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% if object.number_rate_book > 0 %}
                        <form action="{% url 'review:review_create' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" value="{{ object.id }}" name="book_id">
                            <textarea class="form-control" id="write-new-review" rows="3" name="content_review"
                                      placeholder="Write review"></textarea>
                            <button class=" btn btn-sm btn-default" type="submit" name="submit"
                                    style="width: 50px;margin: 5px 0 0 0">Post
                            </button>
                        </form>
                    {% else %}
                        Rating book mới có thể review
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript">
        function display_none_content(id_span) {
            $('#' + id_span + 'content').css('display', 'none');
            $('#' + id_span + 'form').css('display', 'block');
        }
        function display_none_btn(id_btn) {
            $('#' + id_btn + 'edit').css('display', 'none');
            $('#' + id_btn + 'dropdown').css('display', 'none');
            $('#' + id_btn + 'delete').css('display', 'none');
            $('#' + id_btn + 'submit').css('display', 'block');
            $('#' + id_btn + 'cancel').css('display', 'block');
        }
        function display_block_content(id_span) {
            $('#' + id_span + 'content').css('display', 'block');
            $('#' + id_span + 'form').css('display', 'none');
        }
        function display_block_btn(id_btn) {
            $('#' + id_btn + 'edit').css('display', 'block');
            $('#' + id_btn + 'dropdown').css('display', 'block');
            $('#' + id_btn + 'delete').css('display', 'block');
            $('#' + id_btn + 'submit').css('display', 'none');
            $('#' + id_btn + 'cancel').css('display', 'none');
        }
        function confirm_delete_review(id_review) {
            var result = confirm('Are you sure you want delete review ?');
            if (result) {
                $('#' + id_review).submit();
            }
        }
        {#        function set_rating(value) {#}
        {#            $("#input_rating").val(value);#}
        {#            $('#rating-form').submit();#}
        {#        }#}
    </script>
    <style>
        .btn-edit-review-dropdown {
            background-color: #909090;
            border-color: white;
            opacity: 0.2;
        }

        .btn-edit-review-dropdown:hover {
            color: #fff;
            background-color: #c9302c;
            border-color: #ac2925;
            opacity: 1;

        }

        .btn-delete-comment {
            background-color: #909090;
            border-color: white;
            opacity: 0.2;
        }

        .btn-delete-comment:hover {
            color: #fff;
            background-color: #c9302c;
            border-color: #ac2925;
            opacity: 1;
        }
    </style>
{% endblock %}