{% extends 'user/layout/base_user.html' %}
{% load comment %}
{% block content %}
    <div class="row" style="padding-top: 5px;background-color: #FFFFFF;">
        <div class=" thumbnail" style="border: 0 solid">
            <div class="row" style="padding: 0;">
                {#                <div class="col-lg-12">#}
                <!--============================================= Display cover book===========================================================-->
                <div class="col-lg-4 ">
                    <img src="{{ object.cover.url }}" class="" alt="{{ object.title }}" width="100%"/>

                    <!--============================================= Display rating book===========================================================-->
                    <div class="col-lg-12">
                        <strong><span class="text-success" style="float: left; margin: 4px 0 0 0; font-size: 15px;">Rating : </span></strong>

                        <form action="{% url 'book:book_rating' %}" method="post" id="rating-form" style="margin: 5px 0 0 10px;float: left;">
                            {% csrf_token %}
                            <input id="input_rating" type="hidden" value="" name="point_rating">
                            <input type="hidden" value="{{ object.pk }}" name="book_id">
                        </form>

                        <!--============================== Start display star =====================================================================-->
                        {% for i in  object.rate_book %}
                            <a id="rating_1" href="#" class="btn-lg" style="padding: 0;" onclick="set_rating({{ forloop.counter }})">
                                {% if i %}
                                    <span class="glyphicon glyphicon-star" style="color: red">
                                {% else %}
                                    <span class="glyphicon glyphicon-star-empty">
                                {% endif %}
                                </span>
                            </a>
                        {% endfor %}
                        <!--============================== End start display star =====================================================================-->

                    </div>
                    <!--============================================= End display rating book===========================================================-->


                    <!--============================================= Display favorite book===========================================================-->
                    <div>
                        {% if user.is_authenticated %}
                            {% if favorite %}
                                <button class="btn btn-success " style="width: 190px; height: 30px;margin: 0 0 0 12px; font-size: 14px;">Favorited</button>
                            {% else %}
                                <form action="{% url 'book:favorite_book' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{ object.id }}" name="book_id">
                                    <button type="submit" class="btn btn-warning " style="width: 190px; height: 30px;margin: 0 0 0 12px; font-size: 14px;">Favorite</button>
                                </form>
                            {% endif %}
                        {% else %}
                            <button class="btn btn-warning disabled" style="width: 190px; height: 30px;margin: 0 0 0 12px; font-size: 14px;">Favorite</button>
                        {% endif %}
                    </div>
                    <!--============================================= End display favorite book===========================================================-->
                </div>
                <!--============================================= End display cover book===========================================================-->

                <!--============================================= Display information book===========================================================-->
                <div class="col-lg-8">
                    <div>
                        <h3><span class="text-success text-bold"> {{ object.title }}</span></h3>
                    </div>
                    <div class="row">
                        <div class="col-lg-7">
                            <div>
                                <h4> Category : <a href="#"> {{ object.category }}</a></h4>
                            </div>
                            <div>
                                <h5>Author : <span class="text-danger">{{ object.author }}</span></h5>
                                <h5>Publish date : {{ object.date|date:'d-m-Y' }} by <span class=" text-danger">{{ object.publish }}</span></h5>
                            </div>
                            <div>
                                <span class="text-success">{{ object.point_rating }}</span>
                                <span class="text-danger">point</span> -
                                <span class="text-success">{{ object.rating }}</span>
                                <span class="text-danger">rating</span> -
                                <span class="text-success">{{ object.review }}</span>
                                <span class="text-danger">review </span> ------
                                <span class="text-danger">Page : </span>
                                <span class="text-success">{{ object.page }}</span>&nbsp;&nbsp;
                                <span class="text-danger">Price : </span>
                                <span class="text-success">{{ object.price }} $</span>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            {% if object.read_book == 0 %}
                                <form action="{% url 'book:read_book' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{ object.id }}" name="book_id">
                                    <button type="submit" class="btn btn-success " style="width:160px"><strong>Want to Read book !</strong></button>
                                </form>
                            {% elif object.read_book == 1 %}
                                <div class="dropdown">
                                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" style="width:160px"><strong>Reading book !</strong>&nbsp;&nbsp;&nbsp;<span
                                            class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <form action="{% url 'book:read_finish' %}" method="post" id="form-read-finish">
                                                {% csrf_token %}
                                                <input type="hidden" value="{{ object.id }}" name="book_id">
                                            </form>
                                            <a href="#" onclick="document.forms['form-read-finish'].submit();return false;">Finish !</a>
                                        </li>
                                    </ul>
                                </div>
                            {% elif object.read_book == 2 %}
                                <div class=" dropdown">
                                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" style="width:160px"><strong>Read book !</strong>&nbsp;&nbsp;&nbsp;<span
                                            class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Want to Read book !</a></li>
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div>
                        <h3>Descriptions</h3>
                        <h4> {{ object.description }}</h4>
                    </div>
                </div>
                <!--============================================= End display information book===========================================================-->
            </div>
            <div class="row" style="padding: 0;margin: 0">
                <div class="thumbnail" style="margin: 5px 0 0 0; ">

                    {% if object.review == 0 %}
                        {% if object.rate_book > 0 %}
                            <h4>This book is not review. You are write first review</h4>
                        {% else %}
                            <h4>Rating book mới có thể review</h4>
                        {% endif %}

                    {% else %}
                        <h3>{{ object.review }} Review</h3>
                        {% for obj in review_all_book %}
                            <div class="row">
                                <!--============================================= Display cover user write review ===========================================================-->
                                <div class="col-lg-2" id="review-{{ obj.id }}" style="width: 10%; margin: 5px 0 0 0">
                                    <div class="thumbnail">
                                        <img src="{{ obj.user_profile.avata.url|default_if_none:'None' }}" alt="chua cos anh  id = {{ obj.user_profile.user.id }}">
                                    </div>
                                </div>
                                <!--============================================= End display cover write review ===========================================================-->

                                <div class="col-lg-10" style="width: 90%; padding: 5px;">
                                    <!--=========================================== Display information review =======================================================-->
                                    <div style="width: 100%">
                                        <div style="width: 93%; float: left; padding:0;">
                                            <!--=========================================== Display information of user - content of review ===================================-->
                                            <div>
                                                <span style="font-size: 14px;">
                                                    <strong class="text-success" style="float: left"> {{ obj.user_profile.user.first_name }} {{ obj.user_profile.user.last_name }} : </strong>
                                                    <span id="id-review-{{ obj.id }}-content">{{ obj.content }}</span>
                                                    <span id="id-review-{{ obj.id }}-form" style="display:none;">
                                                        <form action="{% url 'review:review_update' %}" method="post" id="update-review-{{ obj.id }}">
                                                            {% csrf_token %}
                                                            <input type="hidden" value="{{ obj.id }}" name="review_id">
                                                            <input type="hidden" value="{{ object.id }}" name="book_id">
                                                            <textarea name="review_content" class="col-lg-9">{{ obj.content }}</textarea>
                                                        </form>
                                                        <form action="{% url 'review:review_delete' %}" method="post" id="delete-review-{{ obj.id }}">
                                                            {% csrf_token %}
                                                            <input type="hidden" value="{{ obj.id }}" name="review_id">
                                                            <input type="hidden" value="{{ object.id }}" name="book_id">
                                                        </form>
                                                    </span>
                                                </span>
                                            </div>
                                            <!--=========================================== End display information review ==========================================================-->

                                            <!--=========================================== Display like - unlike - review =======================================================-->
                                            <div class="pull-left">
                                                <form action="{% url 'review:review_like_unlike' %}" method="post">
                                                    {% csrf_token %}
                                                    <input type="hidden" value="{{ obj.id }}" name="review_id">
                                                    <input type="hidden" value="{{ object.id }}" name="book_id">
                                                    {% if user.id in obj.id_like %}
                                                        <input type="hidden" value="unlike" name="check">
                                                        <button type="submit" class="btn btn-link" style="padding: 2px 0 5px 0;"> Unlike</button>
                                                    {% else %}
                                                        <input type="hidden" value="like" name="check">
                                                        <button type="submit" class="btn btn-link" style="padding: 2px 0 5px 0;"> Like</button>
                                                    {% endif %}
                                                    - <a href="#id_{{ obj.id }}">comment</a> - {{ obj.date|date:'d-m-Y' }}<br>
                                                </form>
                                                {{ obj.number_like_review }} like this<br>
                                            </div>
                                            <!--=========================================== End display like - unlike - review ========================================================-->
                                        </div>

                                        <!--============================================= Display button edit review ===========================================================-->
                                        <div style="width: 7%; float: left; padding: 0">
                                            {% if user.id == obj.user_profile.user.id %}
                                                <div class="dropdown">
                                                    <button type="button" id="id-btn-{{ obj.id }}-dropdown" class="btn btn-danger btn-xs dropdown-toggle btn-edit-review-dropdown" data-toggle="dropdown"
                                                            style="display: block">
                                                        Edit&nbsp;<span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" style="min-width: 42px;padding: 0">
                                                        <li>
                                                            <button id="id-btn-{{ obj.id }}-edit" class="btn btn-xs btn-info btn-edit-review"
                                                                    onclick="display_none_content('id-review-{{ obj.id }}-'); display_none_btn('id-btn-{{ obj.id }}-')"
                                                                    style="display: block; width: 42px;margin: 0 0 3px 0">Edit
                                                            </button>

                                                            <button id="id-btn-{{ obj.id }}-delete" class="btn btn-xs btn-danger btn-edit-review"
                                                                    onclick="confirm_delete_review('delete-review-{{ obj.id }}')" style="display: block; width: 42px;">Delete
                                                            </button>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <button class="btn btn-xs btn-success" id="id-btn-{{ obj.id }}-submit" onclick="document.forms['update-review-{{ obj.id }}'].submit();return false;"
                                                        style="display: none; margin: 0 0 5px 0">
                                                    Update
                                                </button>
                                                <button class="btn btn-xs btn-danger" id="id-btn-{{ obj.id }}-cancel" style="display: none"
                                                        onclick="display_block_content('id-review-{{ obj.id }}-'); display_block_btn('id-btn-{{ obj.id }}-')">Cancel
                                                </button>
                                            {% endif %}
                                        </div>
                                        <!--============================================= End display button edit review ===========================================================-->

                                    </div>
                                    <!--=========================================== End display information review ==========================================================-->

                                    <!------------------------ Display comment of review and write new comment --------------------------------------->

                                    <div class=" col-lg-11" style="padding: 0; margin: 3px 0 3px 0; width: 90%">
                                        {% with obj.comment.all as comment %}
                                            {% for i in comment %}
                                                <div class="row">
                                                    <div class="col-lg-1" style="width: 10%;padding: 5px;">
                                                        <div class="thumbnail">
                                                            <img src="{{ i.user_profile.avata.url|default_if_none:'None' }}" alt="id ={{ i.user_profile.user.id }}" width="100%" height="100%">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-11" style="width: 90%;padding: 5px;">
                                                        <div style="width: 10%;float: right">
                                                            {% if user.id == i.user_profile.user.id %}
                                                                <form action="{% url 'comment:comment_delete' %}" method="post" id="delete-comment-{{ i.id }}">
                                                                    {% csrf_token %}
                                                                    <input type="hidden" value="{{ i.id }}" name="comment_id">
                                                                    <input type="hidden" value="{{ object.id }}" name="book_id">
                                                                    <button id="id-btn-{{ obj.id }}-delete" class="btn btn-xs btn-danger btn-delete-comment"
                                                                            onclick="confirm_delete_comment('delete-comment-{{ i.id }}')">Delete
                                                                    </button>
                                                                </form>
                                                            {% endif %}
                                                        </div>
                                                        <div style="width: 90%;">
                                                    <span style="font-size: 14px;">
                                                        <strong class="text-success"> {{ i.user_profile.user.first_name }} {{ i.user_profile.user.last_name }}: </strong>
                                                        {{ i.content }}
                                                    </span>
                                                        </div>
                                                        <form action="{% url 'comment:comment_review_like_unlike' %}" method="post">
                                                            {% csrf_token %}
                                                            <input type="hidden" value="{{ i.id }}" name="comment_id">
                                                            <input type="hidden" value="{{ object.id }}" name="book_id">
                                                            {% return_user_like_of_comment i.pk as all_like_cmt %}
                                                            {% if user.id in all_like_cmt %}
                                                                <input type="hidden" value="unlike" name="check">
                                                                <button type="submit" class="btn btn-link" style="padding: 2px 0 5px 0;"> Unlike</button>
                                                            {% else %}
                                                                <input type="hidden" value="like" name="check">
                                                                <button type="submit" class="btn btn-link" style="padding: 2px 0 5px 0;"> Like</button>
                                                            {% endif %}
                                                            - {{ i.date|date:'d-m-Y' }}<br> {{ i.get_total_like }} like this<br>
                                                        </form>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endwith %}
                                        <div class="row">
                                            <div class="col-lg-1" style="width: 10%;padding: 5px;">
                                                <div class="thumbnail">
                                                    <img src="{{ user.user_profile.avata.url|default_if_none:'None' }}" alt="id ={{ user.id }}" width="100%" height="100%">
                                                </div>
                                            </div>
                                            <div class="col-lg-11" style="width: 90%;padding: 5px;">
                                                <form action="{% url 'comment:comment_create' %}" method="post">
                                                    {% csrf_token %}
                                                    <input type="hidden" value="{{ obj.id }}" name="review_id">
                                                    <input type="hidden" value="{{ object.id }}" name="book_id">
                                                    <input type="text" class="form-control" name="content_comment" id="id_{{ obj.id }}" placeholder="Write comment">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <!---------------------- End display comment of review and write new comment --------------------------------------->

                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% if object.rate_book > 0 %}
                        <form action="{% url 'review:review_create' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" value="{{ object.id }}" name="book_id">
                            <textarea class="form-control" id="write-new-review" rows="3" name="content_review" placeholder="Write review"></textarea>
                            <button class=" btn btn-sm btn-default" type="submit" name="submit" style="width: 50px;margin: 5px 0 0 0">Post</button>
                        </form>
                    {% else %}
                        Rating book mới có thể review
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript">
        function display_none_content(id_span) {
            $('#' + id_span + 'content').css('display', 'none');
            $('#' + id_span + 'form').css('display', 'block');
        }
        function display_none_btn(id_btn) {
            $('#' + id_btn + 'edit').css('display', 'none');
            $('#' + id_btn + 'dropdown').css('display', 'none');
            $('#' + id_btn + 'delete').css('display', 'none');
            $('#' + id_btn + 'submit').css('display', 'block');
            $('#' + id_btn + 'cancel').css('display', 'block');
        }
        function display_block_content(id_span) {
            $('#' + id_span + 'content').css('display', 'block');
            $('#' + id_span + 'form').css('display', 'none');
        }
        function display_block_btn(id_btn) {
            $('#' + id_btn + 'edit').css('display', 'block');
            $('#' + id_btn + 'dropdown').css('display', 'block');
            $('#' + id_btn + 'delete').css('display', 'block');
            $('#' + id_btn + 'submit').css('display', 'none');
            $('#' + id_btn + 'cancel').css('display', 'none');
        }
        function confirm_delete_review(id_review) {
            result = confirm('Are you sure you want delete review ?');
            if (result) {
                $('#' + id_review).submit();
            }
        }
        function confirm_delete_comment(id_comment) {
            result = confirm('Are you sure you want delete comment ?');
            if (result) {
                $('#' + id_comment).submit();
            }
        }
        function set_rating(value) {
            $("#input_rating").val(value);
            $('#rating-form').submit();
        }

    </script>
    <style>
        .btn-edit-review-dropdown {
            background-color: #909090;
            border-color: white;
            opacity: 0.2;
        }

        .btn-edit-review-dropdown:hover {
            color: #fff;
            background-color: #c9302c;
            border-color: #ac2925;
            opacity: 1;

        }

        .btn-delete-comment {
            background-color: #909090;
            border-color: white;
            opacity: 0.2;
        }

        .btn-delete-comment:hover {
            color: #fff;
            background-color: #c9302c;
            border-color: #ac2925;
            opacity: 1;
        }
    </style>
{% endblock %}