{% extends 'user/layout/base_user.html' %}
{% block content %}
    <div>
        <input id="q" type="text"/>
        <input id="searchSubmit" type="submit" value="Search"/>
        <br/>
        <span class="hint">Type in a query string to search for users</span>

        <div class="margin">
            <div id="results"></div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript">
        <!-- Load 1 trang vao 1 the DIV -->
        $(document).ready(function () {
            $('#searchSubmit').click(function () {
                s = $('#q').val();
                $('#results').html('&nbsp;').load('{% url 'user:test_ajax_result' %}?q=' + s);
            });
        });
{#        $.ajax({#}
{#            url: 'user:test_ajax_result',#}
{#            type: 'GET',#}
{#            data: 'twitterUsername=jquery4u',#}
{#            success: function (data) {#}
{#                //called when successful#}
{#                $('#ajaxphp-results').html(data);#}
{#            },#}
{#            error: function (e) {#}
{#                //called when there is an error#}
{#                //console.log(e.message);#}
{#            }#}
{#        });#}

        $(document).ajaxStart(function () {
            $('#spinner').show();
        }).ajaxStop(function () {
            $('#spinner').hide();
        });
    </script>

{% endblock %}