{% extends 'user/layout/base_user.html' %}
{% block content %}
    <div class="row" style="background-color: #F7F7F7;  padding:0 0 0 20px;">
        <div><h3>Send new book manager</h3></div>
        <div>
            Total : {{ total_send_book }}
        </div>
        <div>
            Successful : {{ successful_book }}
        </div>
        <div>
            Waiting : {{ waiting_book }}
        </div>
        <div>
            Fail : {{ fail_book }}
        </div>
    </div>
    <div class="row" style="background-color: #F7F7F7;  padding:0 3px 0 3px;">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th class="col-lg-1">Stt</th>
                <th class="col-lg-4">Name</th>
                <th class="col-lg-2">Author</th>
                <th class="col-lg-2">Publish</th>
                <th class="col-lg-1">Page</th>
                <th class="col-lg-1">Status</th>
                <th class="col-lg-1"><a href="{% url 'send:send_new_book' %}" role="button" class="btn btn-danger btn-sm">Create New</a></th>
            </tr>
            </thead>
            <tbody>
            {% for obj in list_send_book %}
                <tr>
                    <td class="col-lg-1"><span class=" text-info">{{ forloop.counter }}</span>
                    </td>
                    <td class="col-lg-4"><a class=" text-info" href="{% url 'send:send_detail_book' obj.id %}">{{ obj.name| truncatewords:7 }}</a>
                    </td>
                    <td class="col-lg-2"><span class=" text-info">{{ obj.author }}</span>
                    </td>
                    <td class="col-lg-2"><span class=" text-info">{{ obj.publish }}</span>
                    </td>
                    <td class="col-lg-1"><span class=" text-info">{{ obj.page }}</span>
                    </td>
                    <td class="col-lg-1"><span class=" text-info">{{ obj.status }}</span>
                    </td>
                    <td class="col-lg-1">
                        <form action="{% url 'send:send_delete_book' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="send_book_id" value="{{ obj.id }}">
                            <button type="submit" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure you want delete Book ?')"> Delete</button>
                        </form>
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
                <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                    <span class="current">
                    Page {{ page_obj.number }} of {{ paginator.num_pages }}.
                </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                    {% endif %}
                </span>
        </div>
    </div>
{% endblock %}