{% extends 'user/layout/base_user.html' %}

{% block content %}
    chua cos gi
    {% for action in actions %}
        <br>
        ----------------------------- New actvity -----------------------------------
        <br>
        counter - {{ forloop.counter }}
        <br>
        id_user - {{ action.id }}
        <br>
        time - {{ action.date_time |date:"H-i-s : d-m-Y" }}
        <br>
        type - {{ action.type_activity }}
        <br>
        data - {{ action.data }}
    {% endfor %}

    {#    {{ actions }}#}
    {#    {{ user.pk }}#}

{% endblock %}