<div class="row content-activity">
    <legend>
        <a href="{% url 'book:user_manager_book_reading' user.username %}" style="margin: 0 0 0 10px;font-size: 20px;">Write review</a>
    </legend>
    <div class="row" style="background-color: #F7F7F7; padding-top: 5px;">
        {% for obj in list_user_review %}
            <div class=" thumbnail" style="margin-left: 2%; width: 96%">
                <div class="row">
                    <!--======================================= Display cover book====================================================================-->
                    <div class="col-lg-2 ">
                        <a href="{% url 'book:book_detail' obj.book.slug %}"><img src="{{ obj.book.cover.url }}" class="" alt="{{ obj.book.title }}" width="100%"/></a>
                    </div>
                    <!--======================================= End display cover book====================================================================-->

                    <!--======================================= Display information book====================================================================-->
                    <div class="col-lg-8">
                        <div>
                            <a href="{% url 'book:book_detail' obj.book.slug %}"><h3 style="margin: 4px 0 4px 0; font-size: 18px;"><span class="text-success text-bold"> {{ obj.book.title }}</span></h3></a>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div>
                                    <h4 style="margin: 4px 0 4px 0; font-size: 16px;"> Category : <a href="#"> {{ obj.book.category }}</a></h4>
                                </div>
                                <div>
                                    <h5>Author : <span class="text-danger">{{ obj.book.author }}</span></h5>
                                    <h5>Publish date : {{ obj.book.date|date:'d-m-Y' }} by <span class=" text-danger">{{ obj.book.publish }}</span></h5>
                                </div>
                                <div>
                                    <span class="text-success">{{ obj.point_rating }}</span>
                                    <span class="text-danger">point</span> -
                                    <span class="text-success">{{ obj.rating }}</span>
                                    <span class="text-danger">rating</span> -
                                    <span class="text-success">{{ obj.review }}</span>
                                    <span class="text-danger">review </span> ------
                                    <span class="text-danger">Page : </span>
                                    <span class="text-success">{{ obj.book.page }}</span>&nbsp;&nbsp;
                                    <span class="text-danger">Price : </span>
                                    <span class="text-success">{{ obj.book.price }} $</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--======================================= End display information book====================================================================-->

                </div>
                <div class="thumbnail" style="margin: 5px 0 0 0">
                    <div class="row">
                        <div class="col-lg-2" style="width: 10%; margin-left: 2%">
                            <a href="#"><img src="{{ obj.user_profile.avata.url }}" class="" alt="{{ obj.book.title }}" width="100%"/></a>
                        </div>
                        <div class="col-lg-10">
                            <strong class="text-info" style="font-size: 14px">{{ obj.user_profile.user.first_name }} {{ obj.user_profile.user.last_name }} : </strong>
                            {{ obj.content }}<br>
                            <a class="text-info"> {{ obj.number_like_review }} like -</a><a href="{% url 'book:book_detail' obj.book.slug %}#id_{{ obj.id }}"> {{ obj.number_comment_review }} comment</a>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            User not yet write review book
        {% endfor %}
    </div>
</div>