{% extends 'admin/layout/base_admin.html' %}
{% block title %}
    Book Index
{% endblock %}
{% block content_header %}
    <div class="col-lg-5 col-lg-offset-3" style="padding-bottom: 10px;">
        <span class="text-blue pull-left">Book Index</span>

        <form action="" method="get" class="pull-right">
            {% csrf_token %}
            <input type="text" value="" name="search" class="form-control" placeholder="Enter something" style="width: 400px;">
        </form>
    </div>
{% endblock %}
{% block content %}
    <div class="row" style="padding: 0 5px 0 5px">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Category</th>
                <th>Author</th>
                <th>Publish</th>
                <th>page</th>
                <th>Price</th>
                <th><a href="{% url 'admin:admin_book_create' %}" role="button"
                       class="btn btn-danger btn-sm">Create New</a></th>
            </tr>
            </thead>
            <tbody>
            {% for obj in page_obj %}
                <tr id="row_book_{{ obj.id }}">
                    <td><a class=" text-info" href="{% url 'admin:admin_book_detail' obj.slug %}">{{ obj.id }}</a>
                    </td>
                    <td><a class=" text-info" href="{% url 'admin:admin_book_detail' obj.slug %}">{{ obj.title| truncatewords:10 }}</a>
                    </td>
                    <td><a class=" text-info" href="{% url 'admin:admin_book_detail' obj.slug %}">{{ obj.category }}</a>
                    </td>
                    <td><a class=" text-info" href="{% url 'admin:admin_book_detail' obj.slug %}">{{ obj.author }}</a>
                    </td>
                    <td><a class=" text-info" href="{% url 'admin:admin_book_detail' obj.slug %}">{{ obj.publish }}</a>
                    </td>
                    <td><a class=" text-info" href="{% url 'admin:admin_book_detail' obj.slug %}">{{ obj.page }}</a>
                    </td>
                    <td><a class=" text-info" href="{% url 'admin:admin_book_detail' obj.slug %}">{{ obj.price }}</a>
                    </td>
                    <td>
                        <a href="{% url 'admin:admin_book_edit' obj.slug %}" class="btn btn-success btn-xs no-margin" role="button">Edit</a>

                        <div style="float: right; margin: 0 20px 0 0" id="delete_book_{{ obj.id }}">
                            <button type="button" class="btn btn-danger btn-xs" onclick="delete_book({{ obj.id }})"> Delete</button>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
                <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                    <span class="current">
                    Page {{ page_obj.number }} of {{ paginator.num_pages }}.
                </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                    {% endif %}
                </span>
        </div>
    </div>
{% endblock %}
